<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>Браузер не поддерживает javascript или javascript отключен</title>
</head>
<body>
  <h1>Браузер не поддерживает javascript или javascript отключен</h1>
  <p>Для нормальной работы с сайтом требуется включить javascript или установить браузер, который его поддерживает</p>
  <p>
    <a href="http://www.google.com/chrome">Chrome</a>
    <a href="http://www.mozilla.org/firefox">Firefox</a>
    <a href="http://www.apple.com/safari">Safari</a>
    <a href="http://www.opera.com">Opera</a>
  </p>
</body>
</html>
